<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.model.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="provinceId" property="provinceid" jdbcType="VARCHAR" />
    <result column="cityId" property="cityid" jdbcType="VARCHAR" />
    <result column="areaId" property="areaid" jdbcType="VARCHAR" />
    <result column="xq" property="xq" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="moren" property="moren" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, provinceId, cityId, areaId, xq, consignee, tel, moren
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.Address" >
    insert into address (id, userid, provinceId, 
      cityId, areaId, xq, 
      consignee, tel, moren
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{provinceid,jdbcType=VARCHAR}, 
      #{cityid,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR}, #{xq,jdbcType=VARCHAR}, 
      #{consignee,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{moren,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="provinceid != null" >
        provinceId,
      </if>
      <if test="cityid != null" >
        cityId,
      </if>
      <if test="areaid != null" >
        areaId,
      </if>
      <if test="xq != null" >
        xq,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="moren != null" >
        moren,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="xq != null" >
        #{xq,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="moren != null" >
        #{moren,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Address" >
    update address
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="provinceid != null" >
        provinceId = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        cityId = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        areaId = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="xq != null" >
        xq = #{xq,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="moren != null" >
        moren = #{moren,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.Address" >
    update address
    set userid = #{userid,jdbcType=INTEGER},
      provinceId = #{provinceid,jdbcType=VARCHAR},
      cityId = #{cityid,jdbcType=VARCHAR},
      areaId = #{areaid,jdbcType=VARCHAR},
      xq = #{xq,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      moren = #{moren,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserid" parameterType="Integer" resultType="Address">
    select * from address
    where userid = #{userid}
  </select>


  <update id="updateIsTrue" parameterType="Address">
    update address
    <set>
      moren = #{moren}
    </set>
    where
    id = #{id}
  </update>
</mapper>