<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.model.Collect" >
    <id column="collectId" property="collectid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <collection property="product" ofType="Product">
      <id column="productId" property="productid" jdbcType="INTEGER" />
      <result column="productName" property="productname" jdbcType="VARCHAR" />
      <result column="des" property="des" jdbcType="VARCHAR" />
      <result column="productUrl" property="producturl" jdbcType="VARCHAR" />
      <result column="productDes" property="productdes" jdbcType="VARCHAR" />
      <result column="cateId" property="cateid" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    collectId, userId, productId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where collectId = #{collectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where collectId = #{collectid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.Collect" >
    insert into collect (collectId, userId, productId
      )
    values (#{collectid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.Collect" >
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        collectId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="productid != null" >
        productId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        #{collectid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Collect" >
    update collect
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
    </set>
    where collectId = #{collectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.Collect" >
    update collect
    set userId = #{userid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER}
    where collectId = #{collectid,jdbcType=INTEGER}
  </update>

  <select id="findCollect" resultMap="BaseResultMap" parameterType="Integer" >
    select * from collect
    where userId = #{userid}
  </select>

  <!--添加收藏-->
  <insert id="addCollect" parameterType="Collect" >
    insert into collect (userId,productId)
    values (#{userid}, #{productid})
  </insert>

  <delete id="deleteCollect" parameterType="Collect" >
    delete from collect
    where userId = #{userid} AND productId = #{productid}
  </delete>
</mapper>