<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="priceid" property="priceid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderid, proname, picture, priceid, num, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.Order" >
    insert into order (id, orderid, proname, 
      picture, priceid, num, 
      count)
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{priceid,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{count,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="proname != null" >
        proname,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="priceid != null" >
        priceid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="priceid != null" >
        #{priceid,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Order" >
    update order
    <set >
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="proname != null" >
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="priceid != null" >
        priceid = #{priceid,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.Order" >
    update order
    set orderid = #{orderid,jdbcType=VARCHAR},
      proname = #{proname,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      priceid = #{priceid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      count = #{count,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findByOrderid" resultType="Order" parameterType="int" >
    select * from order
    where orderid = #{orderid}
  </select>
</mapper>