<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.dao.XqPictureMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.model.XqPicture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xqUrl" property="xqurl" jdbcType="VARCHAR" />
    <result column="proId" property="proid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xqUrl, proId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xqpicture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xqpicture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.XqPicture" >
    insert into xqpicture (id, xqUrl, proId
      )
    values (#{id,jdbcType=INTEGER}, #{xqurl,jdbcType=VARCHAR}, #{proid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.XqPicture" >
    insert into xqpicture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="xqurl != null" >
        xqUrl,
      </if>
      <if test="proid != null" >
        proId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xqurl != null" >
        #{xqurl,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.XqPicture" >
    update xqpicture
    <set >
      <if test="xqurl != null" >
        xqUrl = #{xqurl,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        proId = #{proid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.XqPicture" >
    update xqpicture
    set xqUrl = #{xqurl,jdbcType=VARCHAR},
      proId = #{proid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据proId查询 -->
  <select id="selectXqPic" resultType="XqPicture">
    select * from xqpicture
    where proId = #{0}
  </select>
</mapper>